# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=True

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=secret

# Database configuration
DB_ENGINE=django.db.backends.postgresql
DB_NAME=db_name
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres

# API key to use distance matrix API
DISTANCE_MATRIX_API=<your_api_key>