# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.orig
*.log

# Django
*.sqlite3
*.log
*.pot
*.py[cod]
*.so
*.mo
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.bak
*.orig
*.log
*.pgpass
celerybeat-schedule

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db